</div>
<div class="col-1">
</div>
</div>
<div class="card text-center text-white bg-dark">
    <div class="card-header">
        <a href="https://twitter.com/Jabonsolo">
            <i class="fa fa-twitter" style="font-size:24px"></i>
        </a>
        <a href="https://github.com/jabonsolo">
            <i class="fa fa-github" style="font-size:24px"></i>
        </a>
    </div>
    <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">
            Informacion tomada de 
            <a href="https://github.com/pomber/covid19">pomber/covid19</a>
            utilizando los datos proveidos por 
            <a href="https://github.com/CSSEGISandData/COVID-19">
                2019 Novel Coronavirus COVID-19 (2019-nCoV) Data Repository by Johns Hopkins CSSE
            </a>
        </p>
        <p>
            Todos los datos e informacion proveida en este sitio es con fines informativos solamente. 
            No tomo responsabilidad por la precisión, integridad, actualidad, idoneidad o validez de 
            cualquier información en este sitio, y no soy responsable de ningún error, omisión o demora
            en esta información.
        </p>
    </div>
    <div class="card-footer text-muted">
        Desarrollado por 
        <a href="https://github.com/jabonsolo">Javier Cruz</a>
    </div>
</div>
<%- include ('_scripts_utils') -%>
</body>
</html>