</div>
<div class="col-1">
</div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<div class="card text-center text-white bg-dark">
    <div class="card-header">
        <a href="https://twitter.com/Jabonsolo">
            <i class="fa fa-twitter" style="font-size:24px"></i>
        </a>
        
        <a href="https://github.com/jabonsolo">
            <i class="fa fa-github" style="font-size:24px"></i>
        </a>
    </div>
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">
          Informacion tomada de 
          <a href="https://github.com/pomber/covid19">pomber/covid19</a>
          urilizando los datos proveidos por 
          <a href="https://github.com/CSSEGISandData/COVID-19">2019 Novel Coronavirus COVID-19 (2019-nCoV) Data Repository by Johns Hopkins CSSE</a>
      </p>

      <p>
          Todos los datos e informacion proveida en este sitio es con fines informativos solamente. 
          No tomo responsabilidad por la presición, integridad, actualidad, idoneidad o validez de 
          cualquier información en este sitio, y no soy responsable de ningún error, omisión o demora
          en esta información.
      </p>
    </div>
    <div class="card-footer text-muted">
      Desarrollado por 
      <a href="https://github.com/jabonsolo">Javier Cruz</a>
    </div>
  </div>

</body>
</html>