<html>
<head>
</head>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Casos COVID-19 en Mexico</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-text">
        Casos COVID-19 en México
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="container-fluid collapse collapse navbar-collapse">
        <span class="navbar-text"> </span>
        <div class="nav navbar-right">
            <ul class="nav navbar-nav">
                <a class="nav-item nav-link" href="/">Inicio</a>
                <a class="nav-item nav-link" href="/more">Mas</a>
                <a class="nav-item nav-link" href="/about">Acerca</a>
            </ul>
        </div>
    </div>
    </div>
</nav>

<div class="row">
<div class="col-sm-1 col-1">
</div>
<div class="col-sm-10 col-12">